.login__container{
  padding: 12px;
  box-sizing: border-box;
  width: 100%;

  .login__wrapper{

    p {
      margin: 0;
      padding: 20px 20px 16px 20px;
    }
    .input__wrapper{
      display:flex;
      flex-direction: column;
      gap: 8px;
      padding: 0 20px;
      color: #8A8A8A;

      & label{
        font-size: 14px;
        line-height: 20px;
      }
    }

    .divider{
      width: 100%;
      height: 3px;
      background-color: #2E2E2E;
      margin-top: 20px;
    }

    .buttons__wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
      padding: 24px
    }
  }
}
