.passwords__wrapper{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  p{
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 450;
  }
  .passwords{
    display: flex;
    flex-direction: column;
    gap: 16px;

    .password{
      box-sizing: border-box;
      width: 100%;
      padding: 12px 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 6px;
      gap: 10px;
      background-color: #141414;
      p{
        word-break: break-all;
        margin: 0;
        font-size: 16px;
        line-height: 24px;
        font-weight: 450;
      }
      img{
        cursor: pointer
      }
    }
  }
}