body, html{
    margin: 0;
    background-image: url("/images/background.png");
    background-size: cover;
    background-color: black;
}
body:before{
    z-index: 0;
    content: '';
    position: absolute;
    background-image: url('/light.svg');
    background-size: 100%;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}
input {
    all: unset;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
a {
    text-decoration: none;
}