.checkbox {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 0 20px;

  input[type="checkbox"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    flex-wrap: nowrap;
    /* creating a custom design */
    width: 24px;
    height: 24px;
    border-radius: 1px;
    border: 1px solid #2E2E2E;
    outline: none;
    cursor: pointer;
    background-color: #141414;
    &:checked{
      background-size: 14px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("/check.svg");
    }
  }
  span{
    font-size: 13px;
    color: #EEEEEE;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: -1%;
  }
}
